.ammonite
.mypy_cache
*~
.*.swp
.idea
.scala-build
.bsp
.metals
.vscode
project
target
bin
cache
*.gen.go
.codacyrc
trivy


#Ignore vscode AI rules
.github/copilot-instructions.md


#Ignore cursor AI rules
.cursor/rules/codacy.mdc

#Ignore codacy stuff
.codacy/cli.sh
.codacy/codacy.yaml

#Ignore patterns.json
docs/patterns.json
